@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Delius+Swash+Caps&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* ROOTS */

 :root {
  --PALETTE-WHITE: #F4F1DE; 
  --PALETTE-ORANGE: #E07A5F;
  --PALETTE-PURPLE: #3D405B;
  --PALETTE-TURQUOISE: #81B29A;
  --PALETTE-YELLOW: #F2CC8F;
  --TEXT-BLACK: #252422; 
  --BLANK-WHITE: #ffffff;

  --MAIN-FONT-FAMILY: "Delius Swash Caps", serif; 
 }

 #root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;

  background-color: var(--PALETTE-PURPLE);
  font-family: var(--MAIN-FONT-FAMILY);
  font-size: 16px;
  color: var(--TEXT-BLACK);
}

.App {
  width: 100%;
  max-width: 850px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid var(--TEXT-BLACK);
}

.Header, .Footer{
  width: 100%;
  height: 15vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 0.5;

  background-color: var(--PALETTE-ORANGE);
  border-bottom: 5px solid var(--TEXT-BLACK);
}

h1 {
  font-size: 2.8rem;
  font-weight: bolder;

  padding: 1rem;

  border-right: 5px dashed var(--TEXT-BLACK);
  border-left: 5px dashed var(--TEXT-BLACK);
  background-color: var(--PALETTE-TURQUOISE);
}

a {
  color: var(--TEXT-BLACK);
  text-decoration: none;
}


/* COMPONENTS */

.Home {
  width: 100%;
  height: 80vh;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--PALETTE-WHITE);

  overflow-y: auto;
}

.View {
  padding: 0;
}

.Holder {
  gap:1rem;

  justify-content: flex-start;
  align-items: flex-start;

}

.Button-Holder {
  width: 400px;
  height: 80px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  border: solid 5px var(--TEXT-BLACK);
  border-radius: 30px;


}

.View-Header {
  width: 100%;
  height: 7.5vh;

  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--PALETTE-TURQUOISE);
  border-bottom: 3px solid var(--TEXT-BLACK);
  color: var(--TEXT-BLACK);

}

/* weird space under the header, plus need to stick it */

.Bundle {
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--BLANK-WHITE);
  border: solid 3px var(--TEXT-BLACK);
  border-radius: 5px;

  transition: 0.3s;
}

.Bundle-Title {
  border-bottom: solid 2px var(--TEXT-BLACK);
  background-color: var(--PALETTE-YELLOW);
  font-weight: bolder;
}


.Bundle-Desciption-Title {
  justify-content: start;
  align-items: center;
  padding-top: 0.5rem;
  text-decoration: underline;
}

.Card {
  height: 250px;
  width: 180px;
  gap: 1rem;
}

.Card-Title {
  width: 90%;
  border-bottom: solid 2px var(--TEXT-BLACK);
  background-color: var(--PALETTE-ORANGE);
  font-weight: bolder;
}

.Question {
  border-bottom: solid 3px var(--TEXT-BLACK);
  border-top: solid 3px var(--TEXT-BLACK);
  padding: 0.5rem;
}

.Answer {
  color: var(--PALETTE-ORANGE);
  font-size: max(0.8rem, 1rem)
}

.Button {
  display: grid;
  padding: 0.75rem;

  background-color: var(--PALETTE-WHITE);

  border-right: solid 3px var(--TEXT-BLACK);
  border-left: solid 3px var(--TEXT-BLACK);

  font-weight: bolder;
  font-size: 1.2rem;

  transition: 0.2s;
  cursor: pointer;
} /* Maybe keep the size  of the buttons static */

.Practice {
  width: 100%;
  height: 80vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--PALETTE-WHITE);
  
}

.Practice-Card {
  height: 450px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 1.5rem;
  gap: 2rem;
  background-color: var(--BLANK-WHITE);
  border: solid 5px var(--TEXT-BLACK);
  border-radius: 10px;

  animation: flipCard-Right 0.8s ease-in;
}

.Practice-Title {
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 5px dashed var(--TEXT-BLACK);
  padding: 0.2rem;
  background-color: var(--PALETTE-YELLOW);
}

.Practice-Question {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: solid 5px var(--TEXT-BLACK);
}

.Practice-Answer {
  font-size: 1.5rem;
  font-weight: bold;

  background-color: var(--PALETTE-TURQUOISE);

  animation: fadeIn 0.7s ease-out;

}



/* Will need to mess with relative  nature of header and body/main elements  */

/* VARIABLES */

.Error {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
} 

.Icon {
  width: 50px;
  height: 50px;

  transition: 0.3s;
}

/* ANIMATIONS ETC */

.Icon:hover,
.Bundle:hover, 
.Button:hover {
  scale: 110%
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flipCard-Right {
  0% {
    transform: rotateY(-90deg);
  }
  
  100% {
    transform: rotateY(0deg);
  }
}
